* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding: 50px;
}

.time-display {
  font-size: 2.5rem;
  padding: 10px;
  border: 10px solid rgb(255, 208, 203);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-picker {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  padding: 5px 10px;
  margin: 2px;
}
